.features{
  &__subtitle{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(220,120,11,0.7)
  }
  &__title{
    font-family: Philosopher;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 31.25px;
    line-height: 35px;
    text-transform: capitalize;
    color: rgba(21,12,1,1);
  }
  &__row{
    display: grid;
    gap: 90px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card{
  &__img{
    margin: 0 10vw;
  }
  &__title{
    font-family: Philosopher;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    color: rgba(21,12,1,1)
  }
  &__text{
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(21,12,1,1);
  }
}